<div id='wrapper'>

    <!--Login Here-->
    <div class="container-fluid">
        <div class="row justify-content-center bg-image">
            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-5 col-xs-12"></div>
            <div class="col-4 col-sm-3 col-md-3 col-lg-4 col-xl-5 col-xs-12"></div>
            <div class="col-4 col-sm-6 col-md-6 col-lg-4 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                    <form id="msform">
                        <!-- progressbar -->

                        <fieldset>
                            <div class="form-card">

                                <div class="row border">
                                    <div class="form-group">
                                        <h4 id="heading">Login Here</h4>
                                        <div class="col-sm-12 box-align">
                                            <label class="fieldlabels">Enter Email-Id: *</label>
                                            <input type="email" id="mial-id" class="form-control">
                                        </div>
                                        <div class="col-sm-12 box-align">
                                            <label class="fieldlabels">Password: *</label>
                                            <input type="password" id="adminname" class="form-control">
                                        </div>

                                        <div class="col-sm-12 checkbox switcher">
                                            <label for="test2">
                                                <input type="checkbox" id="test2" value="" checked>
                                                <span><small></small></span>
                                                <small>Remember me</small>
                                            </label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-4 col-sm-4 col-md-4 col-lg-4  col-xs-4"></div>
                                            <div class="col-4 col-sm-4 col-md-4 col-lg-4  col-xs-4">
                                                <input type="button" name="next" class="login" value="Login" />
                                            </div>
                                            <div class="col-4 col-sm-4 col-md-4 col-lg-4  col-xs-4"></div>

                                        </div>

                                        <div class="col-sm-8 box-align">
                                            <label class="fieldlabels">Retrive your account</label>
                                            <a class="btn custom" data-popup-open="popup-2" href="#"> Forget
                                                Password</a>

                                        </div>

                                        <!--Field must should come here-->
                                        <hr>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-sm-12 box-align">
                                                Don't have an account <a class="btn btn-primary"
                                                    data-popup-open="popup-1" href="#"> Create one</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </fieldset>


                    </form>


                </div>
            </div>
        </div>
    </div>
    <section class="trade-mark">
        <p class="text-center trade-s"> Powered by
            <span style="font-size: 11pt;"> Dreamwell Technologies</span>
        </p>
    </section>
</div>